SUBSYSTEM="usb", ATTR{idVendor}=="0x36B0", ATTR{idProduct}=="0x3068", TAG+="uaccess"
KERNEL=="hidraw*", MODE="0660", TAG+="uaccess", TAG+="udev-acl"

